# Rename this file to .env.local (or .env.production.local) and adjust values per environment.
NEXT_PUBLIC_APP_NAME="Next.js MSAL React SPA Quickstart"
NEXT_PUBLIC_TENANT_ID="common"
NEXT_PUBLIC_CLIENT_ID="bbfd56d0-eded-4a96-8cf0-14cce48cf8ad"
NEXT_PUBLIC_MSAL_REDIRECT_URI="http://localhost:3000"
NEXT_PUBLIC_MSAL_SCOPES="User.Read"
